


@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);


.getBtnMain() {
	display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
	border-radius: 0;
	padding: 2px 14px 2px;
	font-size: 15px;
	&:hover,
  &:focus,
  &:active {
		text-decoration: none;
	}
}
.getBtn (@mainColor) {
	color: #fff;
	background-color: @mainColor;
	&:hover,
  &:focus,
  &:active {
		color: @mainColor;
		background: #fff;
		border: 1px solid @mainColor;
	}
}
.spaceContents * {
	margin-right: 10px;
}
.btnGreen {
	.getBtn(#6fbf39)
}

.btnBlue {
	.getBtn(#00afec)
}

.btnPurple {
	.getBtn(#8883bc)
}
.btn {
	.getBtnMain()
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6,p {
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	font-size: 52px;
}
h2 {
	font-size: 38px;
	font-weight: 200;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
p {
	font-size:  15px;
}

ul.plain {
	padding-left: 0;
	li {
		list-style:none;
	}
}
.menu {
	.navbar-default {
		background: none;
		border-color: transparent;
		margin-bottom: 0;
		text-align: center;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 15px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #545454;
		padding: 10px 15px 5px 15px;
		&:hover {
			color: #f48e5c;
		}
	}
	.navbar-nav {
		float: none;
		display: inline-block;
	}
	.navbar {
		min-height: 0;
	}
}
header {
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
	-ms-box-shadow: 0 0 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 0 4px rgba(0,0,0,.2);
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	background: rgba(255, 255, 255, 0.96);
	padding: 6px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
	.banner {
		color: black;
		padding:6px 8px 3px 8px;
		display: inline-block;
		font-size: 1.4em;
		&:hover {
			color: #f48e5c;
		}

	}
	.social-info {
		margin-bottom: 0;
		padding-top:8px;
		text-align: right;
		li {
			display: inline-block;
			&:first-child a {
				border-left: 1px solid #dedede;
			}
			a {
				color: black;
				padding:3px 8px;
				border-right: 1px solid #dedede;
				font-size: 1.4em;
				&:hover {
					color: #f48e5c;
				}
			}
		}
	}

}


#banner {
	background-size: cover;
	position: relative;
	padding:100px 0;
	.app-img {
		padding-top: 10px;
	}
	.block>p {
		margin-bottom: 65px;
	}
	.block {
		padding-top: 10px;
		h1 {
			margin-bottom: 18px;
			line-height: 55px;
			color: #262b31;
			font-weight: 300;
		}
		p {
			font-size: 20px;
			color: #999;
			font-weight: 300;
		}
		blockquote {
			margin: 20px 50px;
			p {
				font-size: inherit;
			}
		}
		.download-btn {
			li {
				display: inline-block;
				a {
					color: #fff;
					border: none;
					border-radius: 0;
					padding: 10px 28px 13px;
					font-size: 18px;
					i {
						margin-right: 10px;
						font-size: 20px;
					}
				}
				.btn-apple {
					background: #8883bc;
					border:1px solid transparent;
					-webkit-transition: .2s all;
					-o-transition: .2s all;
					transition: .2s all;
					&:hover {
						color: #8883bc;
						background: #fff;
						border:1px solid #8883bc;
					}
				}
				.btn-andriod {
					background: #6fbf39;
					border:1px solid transparent;
					-webkit-transition: .2s all;
					-o-transition: .2s all;
					transition: .2s all;
					&:hover {
						color: #6fbf39;
						background: #fff;
						border:1px solid #6fbf39;
					}

				}
				.btn-windows {
					background: #00afec;
					border:1px solid transparent;
					-webkit-transition: .2s all;
					-o-transition: .2s all;
					transition: .2s all;
					&:hover {
						color: #00afec;
						background: #fff;
						border:1px solid #00afec;
					}
				}
			}

		}
	}

}

#cv {
	padding:30px 0;
	.cv-wrapper {
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		padding:110px 0;
	}
	.block {
		cursor: pointer;
		text-align: center;


		h3 {
			color: #555;
			font-weight: 300;
		}
		p {
			color: #666;
		}
	}
}

#positions {
	background: #f6f6f7;
	padding:20px 0 30px 0;
	// padding:120px 0;
	.title {
		font-weight: 300;
	}
	.positionsList {
		li {
			border-bottom: 2px solid #CECECE;
		}
		li:last-child {
			border-bottom: 0;
		}
		img {
			// display:block;
			max-width:150px;
		}
	}
}

.imgWithCaption {
	margin: 15px 0px ;
	span {
		color: #777;
		display: block;
	}
	span:before, span:after {
		content: ' \2014 \00A0';
	}
}



#thoughts {
	ul {
		list-style-type:circle;
		padding-left: 40px;
		li {
			margin: 10px 0px;
			list-style:inherit;
		}
	}
	.btn {
		//make sure that when line of buttons is breaked, it still looks nice
		margin-bottom: 5px;
	}
	margin-bottom:20px;
}

footer {
	background: #f9f9f9;
	border-top: 1px solid #e8e8e8;
	padding:40px 0 20px;
	.footer-logo {
		margin-bottom: 15px;
		display: inline-block;
		text-align: center;
	}
	p {
		color: #6F6F6F;
		margin-top: 10px;
		margin-bottom: 0;
	}
}



//iconized lists

ul.iconized {
	list-style-type: none;
	// list-style-position: inside;
	// text-align: center;
	li {
		padding-left: 20px;
		text-indent: -1.4em;
		margin: 10px;
	}
	li:before {
		font: normal normal normal 18px/1 FontAwesome;
		margin:0 5px 0 -40px;
		padding: 0px 20px;
		color: #2D2D2C;
	}
	li.calendar:before {
		content: "\f073";
	}
	li.mail:before {
		content: "\f0e0";
	}
	li.phone:before {
		content: "\f095";
	}
	li.address:before {
		content: "\f124";
	}
}
