@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
.spaceContents * {
  margin-right: 10px;
}
.btnGreen {
  color: #fff;
  background-color: #6fbf39;
}
.btnGreen:hover,
.btnGreen:focus,
.btnGreen:active {
  color: #6fbf39;
  background: #fff;
  border: 1px solid #6fbf39;
}
.btnBlue {
  color: #fff;
  background-color: #00afec;
}
.btnBlue:hover,
.btnBlue:focus,
.btnBlue:active {
  color: #00afec;
  background: #fff;
  border: 1px solid #00afec;
}
.btnPurple {
  color: #fff;
  background-color: #8883bc;
}
.btnPurple:hover,
.btnPurple:focus,
.btnPurple:active {
  color: #8883bc;
  background: #fff;
  border: 1px solid #8883bc;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 0;
  padding: 2px 14px 2px;
  font-size: 15px;
}
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 38px;
  font-weight: 200;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 15px;
}
ul.plain {
  padding-left: 0;
}
ul.plain li {
  list-style: none;
}
.menu .navbar-default {
  background: none;
  border-color: transparent;
  margin-bottom: 0;
  text-align: center;
}
.menu .navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #545454;
  padding: 10px 15px 5px 15px;
}
.menu .navbar-default .navbar-nav > li > a:hover {
  color: #f48e5c;
}
.menu .navbar-nav {
  float: none;
  display: inline-block;
}
.menu .navbar {
  min-height: 0;
}
header {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.96);
  padding: 6px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .banner {
  color: black;
  padding: 6px 8px 3px 8px;
  display: inline-block;
  font-size: 1.4em;
}
header .banner:hover {
  color: #f48e5c;
}
header .social-info {
  margin-bottom: 0;
  padding-top: 8px;
  text-align: right;
}
header .social-info li {
  display: inline-block;
}
header .social-info li:first-child a {
  border-left: 1px solid #dedede;
}
header .social-info li a {
  color: black;
  padding: 3px 8px;
  border-right: 1px solid #dedede;
  font-size: 1.4em;
}
header .social-info li a:hover {
  color: #f48e5c;
}
#banner {
  background-size: cover;
  position: relative;
  padding: 100px 0;
}
#banner .app-img {
  padding-top: 10px;
}
#banner .block > p {
  margin-bottom: 65px;
}
#banner .block {
  padding-top: 10px;
}
#banner .block h1 {
  margin-bottom: 18px;
  line-height: 55px;
  color: #262b31;
  font-weight: 300;
}
#banner .block p {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}
#banner .block blockquote {
  margin: 20px 50px;
}
#banner .block blockquote p {
  font-size: inherit;
}
#banner .block .download-btn li {
  display: inline-block;
}
#banner .block .download-btn li a {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 28px 13px;
  font-size: 18px;
}
#banner .block .download-btn li a i {
  margin-right: 10px;
  font-size: 20px;
}
#banner .block .download-btn li .btn-apple {
  background: #8883bc;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#banner .block .download-btn li .btn-apple:hover {
  color: #8883bc;
  background: #fff;
  border: 1px solid #8883bc;
}
#banner .block .download-btn li .btn-andriod {
  background: #6fbf39;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#banner .block .download-btn li .btn-andriod:hover {
  color: #6fbf39;
  background: #fff;
  border: 1px solid #6fbf39;
}
#banner .block .download-btn li .btn-windows {
  background: #00afec;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#banner .block .download-btn li .btn-windows:hover {
  color: #00afec;
  background: #fff;
  border: 1px solid #00afec;
}
#cv {
  padding: 30px 0;
}
#cv .cv-wrapper {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 110px 0;
}
#cv .block {
  cursor: pointer;
  text-align: center;
}
#cv .block h3 {
  color: #555;
  font-weight: 300;
}
#cv .block p {
  color: #666;
}
#positions {
  background: #f6f6f7;
  padding: 20px 0 30px 0;
}
#positions .title {
  font-weight: 300;
}
#positions .positionsList li {
  border-bottom: 2px solid #CECECE;
}
#positions .positionsList li:last-child {
  border-bottom: 0;
}
#positions .positionsList img {
  max-width: 150px;
}
.imgWithCaption {
  margin: 15px 0px ;
}
.imgWithCaption span {
  color: #777;
  display: block;
}
.imgWithCaption span:before,
.imgWithCaption span:after {
  content: ' \2014 \00A0';
}
#thoughts {
  margin-bottom: 20px;
}
#thoughts ul {
  list-style-type: circle;
  padding-left: 40px;
}
#thoughts ul li {
  margin: 10px 0px;
  list-style: inherit;
}
#thoughts .btn {
  margin-bottom: 5px;
}
footer {
  background: #f9f9f9;
  border-top: 1px solid #e8e8e8;
  padding: 40px 0 20px;
}
footer .footer-logo {
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
}
footer p {
  color: #6F6F6F;
  margin-top: 10px;
  margin-bottom: 0;
}
ul.iconized {
  list-style-type: none;
}
ul.iconized li {
  padding-left: 20px;
  text-indent: -1.4em;
  margin: 10px;
}
ul.iconized li:before {
  font: normal normal normal 18px/1 FontAwesome;
  margin: 0 5px 0 -40px;
  padding: 0px 20px;
  color: #2D2D2C;
}
ul.iconized li.calendar:before {
  content: "\f073";
}
ul.iconized li.mail:before {
  content: "\f0e0";
}
ul.iconized li.phone:before {
  content: "\f095";
}
ul.iconized li.address:before {
  content: "\f124";
}
